<h1>Seasons List</h1>
<%= simple_form_for @season do |f| %>
  <%= f.input :years %>
  <%= f.button :submit %>
<% end %>

  <% @seasons.each do |season| %>
    <ul>
      <%= link_to season.years, season_path(season) %>
      <% if season.competitions.empty? %>
        <%= link_to fa_icon("trash"), season_path(season), method: 'delete', confirm: "Sure ?" %>
      <% end %>
      <%= link_to fa_icon("plus-circle"), "#" %>
      <% season.competitions.each do |competition| %>
        <li>
          <%= link_to competition.name, season_competition_path(competition) %>
        </li>
      <% end %>
    </ul>
  <% end %>
