<h1>Seasons List</h1>
<%= simple_form_for @season do |f| %>
  <%= f.input :years %>
  <%= f.button :submit %>
<% end %>

<ul>
  <% @seasons.each do |season| %>
    <li>
      <%= link_to season.years, season_path(season) %>
      <%= link_to fa_icon("trash"), season_path(season), method: 'delete', confirm: "Sure ?" %>
    </li>
  <% end %>
</ul>
