<%
  stats = {}
  @teams.each do |team|
    stats[team.id] = {
      name: team.label_name,
      stabi: 0,
      played: 0,
      percent: 0,
      percent_sum_for_next_game: 0,
      resident_home_next_game: false
    }
  end

  @schedules.map{|s| s.games}.flatten.each do |game|
    if ['played'].include?(game.status)
      # si match joué
      stats[game.results.first.team_id][:played] += 1
      stats[game.results.last.team_id][:played] += 1
      if game.stadium.try(:kind) == "gravel" && game.results.pluck(:forfeit).exclude?(true)
        # si terrain stabi + pas de forfait
        stats[game.results.first.team_id][:stabi] += 1
        stats[game.results.last.team_id][:stabi] += 1
      end
    end
  end
  stats.each{ |team_id, data|
    data[:percent] = data[:played].zero? ? 0 : (data[:stabi]/data[:played].to_f*100).round
  }
  stats.each{ |team_id, data|
    next_schedule_games = @schedules.where("day < ?", Date.today).last.next.try(:games)
    if next_schedule_games
      next_game = next_schedule_games.find{|g| g.results.pluck(:team_id).include?(team_id)}
      next_opponent_id = next_game.results.where.not(team_id: team_id).first.team_id
      data[:percent_sum_for_next_game] = stats[next_opponent_id][:percent] + data[:percent]
      if next_game.results.map(&:team).any?(&:resident?)
        data[:resident_home_next_game] = true
      end
    end
  }
  stats = stats.sort_by{|k, v| [-v[:percent_sum_for_next_game], -v[:percent], v[:stabi].zero? ? v[:played]: -v[:played]] }.to_h
%>
<div class="top-page">
  <h3>
    Matches sur stabi | Saison <%= @season.years %>
  </h3>
</div>
<hr>
<table class="table table-striped table-dark table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Nb joués</th>
        <th>Nb stabi</th>
        <th class="table-active"><strong><u>% stabi</u></strong></th>
        <th>Somme % prochain adversaire</th>
      </tr>
    </thead>
    <tbody>
    <% stats.each do |team_id, data| %>
      <tr>
        <td><%= data[:name] %></td>
        <td><%= data[:played] %></td>
        <td><%= data[:stabi] %></td>
        <td class="table-active text-warning"><strong><%= data[:percent] %></strong></td>
        <td class="<%= 'table-secondary' if data[:resident_home_next_game] %>">
          <%= data[:percent_sum_for_next_game] %><%= ' (chez résident)' if data[:resident_home_next_game] %>
        </td>
      </tr>
    <% end %>

    </tbody>
    <tfoot>
      <tr class="table-secondary fst-italic">
        <td colspan="5">
        <ul>
          <li>Les matches comptabilisés exclus les reports ou forfaits.</li>
          <li><u>Somme % prochain adversaire</u>: Cumul du % de l'équipe avec celui de son prochain adversaire.</li>
        </ul>
        </td>
      </tr>
    </tfoot>
</table>
