<h1>Competition Editions</h1>
<%= simple_form_for @edition do |f| %>
  <%= f.association :season, value_method: :id, label_method: :years %>
  <%= f.association :competition, value_method: :id, label_method: :name %>
  <%= f.input :designation %>
  <%= f.input :letter %>
  <%= f.input :second_leg %>
  <%= f.button :submit, class: "btn btn-warning" %>
<% end -%>


<ul>
  <% @editions.each do |edition| %>
    <li>
      <%= link_to "#{edition.designation}: (#{edition.season.id})" + edition.season.years + "/ (#{edition.competition.id})" + edition.competition.name, edition_path(edition) %>
      <%= link_to "Edit", edit_edition_path(edition) %>
      <!-- Exemple dans app/views/editions/show.html.erb -->
      <%= link_to "#",
            class: "btn btn-secondary",
            data: {
              bs_toggle: "modal",
              bs_target: "#chooseInitialForEditionModal_#{edition.id}"
            } do %>
        Ajouter Initial
      <% end %>

      <!-- Inclusion du partial pour la pop-up -->
      <%= render 'rankings/choose_initial_for_edition', edition: edition %>

    </li>
  <% end %>
</ul>

