<h1>Articles</h1>

<%= link_to new_article_path do %>
  <%= fa_icon("plus") %> Nouveau
<% end %>
<hr>

<% @articles.each do |article| %>
  <%= article.title %> |
  <%= link_to "Edit", edit_article_path(article) %> |
  <%= link_to article_path(article), method: :delete, data: { confirm: "Pour de bon?" } do %>
    <%= fa_icon("trash") %>
  <% end %> |
  <%= link_to article_path(article) do %>
    <%= fa_icon("eye") %>
  <% end %>
  <hr>

<% end %>
<%= link_to new_article_path do %>
  <%= fa_icon("plus") %> Nouveau
<% end %>
