<div class="schedule-header">
  <%= link_to schedule.previous, remote: true do %>
    <%= fa_icon("chevron-circle-left") %>
  <% end %>
  <div class="schedule-designation">
    <% if schedule.edition.competition.kind == "championship" %>
      <%= "Journée " + schedule.designation.split("J")[1] %>
    <% elsif schedule.edition.competition.kind == "cup" %>
      <%= "Cup " + schedule.designation %>
    <% else %>
      <%= "Amical " + schedule.designation %>
    <% end %>
    <div class="info">
      <%= schedule.day.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <%= link_to schedule.next, remote: true do %>
    <%= fa_icon("chevron-circle-right") %>
  <% end %>
</div>
<% @schedule.games.order(:id).each do |game| %>
  <div class="game-datas">
    <div class="game">
      <div class="team text-right">
        <%= game.results.first.team.team_names.last.name %>
      </div>
      <div class="result">
        <!-- display game results OR game status OR game stadium time -->
        <% if game.status == "delayed" %>
          <span class="status">
            <%= "Reporté" %>
          </span>
          <% elsif game.status == "played" %>
            <strong>
              <%= game.results.first.mark %>
            </strong>
            <%= fa_icon("circle", class: "center-circle") %>
            <div class="middle-line"></div>
            <strong>
              <%= game.results.last.mark %>
            </strong>
            <% else %>
            <%= fa_icon("circle", class: "center-circle") %>
            <div class="middle-line"></div>
        <% end %>
      </div>
      <div class="team">
        <%= game.results.last.team.team_names.last.name %>
      </div>
    </div>
    <div class="stadium">

      <% if game.stadium %>
        <%= content_tag :div, class: "link-copy-to-clipboard", title: "#{game.stadium.address}" do %>
          <%= game.stadium.name %> <%= fa_icon("copy") %>
          <%= text_field_tag "address", game.stadium.address, class: "address-to-clipboard" %>
        <% end %>
        <%  case device
            when 'ios'
              url = "http://maps.apple.com/?q=#{game.stadium.address.gsub(/,\ |,|\ /, '+')}"
            when 'android'
              url = "https://www.google.com/maps/search/?api=1&query=#{game.stadium.address.gsub(/,\ |,|\ /, '+')}"
            else
              url = "https://www.google.fr/maps/place/#{game.stadium.address.gsub(/,\ |,|\ /, '+')}"
            end
        %>
        &nbsp;&nbsp;
        <%= link_to url, class: "link-navigation", target: "_blank" do %>
          <%= fa_icon("map-marker") %>
        <% end %>
      <% else %>
        --
      <% end %>

    </div>
  </div>
<% end %>
