<div class="carousel-box" style="display: none;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <%= image_tag('reunion_2020-09-29.jpg', style: 'width:100%;') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Réunion de rentrée - 29/09/2020</h3>
          <p>Merci à vous tous, coaches et corps arbitral, pour votre présence. Bon championnat! Et qu'on se régale!</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('football-amateur.jpg', style: 'width:100%;') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Couvre-feu: Match de 2 x 30min</h3>
          <p>Si la disponibilité des stades le permet, le championnat continuera pendant le couvre-feu avec des matches de 60min.</p>
        </div>
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="carousel-box">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">

      <!-- <div class="carousel-item active">
        <%= image_tag('bonne-annee-2022.png', class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Bonne Année 2022</h5>
          <p>Bonne Année à tous et à vos proches, prenez soin de vous !</p>
        </div>
      </div> -->

      <div class="carousel-item active">
        <%= image_tag('amicale-marseille-champion-2022.jpeg', class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Bravo !</h3>
          <p>Amicale Marseille, champion 2022<br><br><br></p>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag('2004_carton_rouge_pour_fabien.jpg', class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Coup de tonnerre :</h3>
          <p>L'équipe La Villa est exclue du championnat !</p>
        </div>
      </div>

       <div class="carousel-item">
        <%= image_tag("2022-12-08-reunion-coaches.jpg", class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Réunion des coaches</h3>
          <p>8 décembre 2022<br><br></p>
        </div>
      </div>

      <!--<div class="carousel-item">
        <%= image_tag('football-kickoff.jpg', class: 'd-block w-100') %>
        <div class="carousel-caption d-none d-md-block">
          <h3>C'est la reprise</h3>
          <p>Eh oui, c'est la reprise! Macaboime reprend du service, rendez-vous sur les terrains ce <strong>lundi 11 octobre</strong> pour la première journée.</p>
        </div>
      </div>-->


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
