<div class="navbar">
  <div>
    <h3>
      <%= @edition.competition.name %>
    </h3>
    <h4>
      <%= @edition.season.years %>
    </h4>
  </div>
  <div class="wordCarousel">
    <div>
  <!--        Use classes 2,3, or 4 to match the number of words -->
      <ul class="flip4">
        <li>Respect</li>
        <li>Fair Play</li>
        <li>Sportivité</li>
        <li>Convivialité</li>
      </ul>
    </div>
    <%= image_tag "logo_silhouette_mouv.png" %>
  </div>
</div>
<hr>
<%= render "pages/display_articles_carrousel" %>

<div class="select_schedule">
  <% @season_schedules.each do |schedule| %>
    <span><%= link_to schedule.designation, schedule, remote: true %></span>
  <% end %>
</div>

<div id="current_schedule">
  Chargement...
</div>

<%= render "competitions/display_championship_ranking", edition: @edition %>

<br>
