<div class="navbar">
  <div>
    <h3>
      <%= @edition.competition.name %>
    </h3>
    <h4>
      <%= @edition.season.years %>
    </h4>
  </div>
  <div class="wordCarousel">
    <div>
  <!--        Use classes 2,3, or 4 to match the number of words -->
      <ul class="flip4">
        <li>Respect</li>
        <li>Fair Play</li>
        <li>Sportivité</li>
        <li>Convivialité</li>
      </ul>
    </div>
    <%= image_tag "logo_silhouette_mouv.png" %>
  </div>
</div>
<hr>
<%= render "pages/display_articles_carrousel" %>
<div id="schedules">
  <%= fa_icon("calendar", class: "show-select") %>
  <!-- Schedules season list/links -->
  <% date_now = DateTime.now %>
  <% active = "" %>
  <% search_active = true %>
  <div id="select-schedule">
    <% @season_schedules.each do |schedule| %>
      <% if search_active && date_now.mjd - schedule.day.mjd < 4 %>
        <% active = "active" %>
        <% search_active = false %>
      <% end %>
      <%= link_to schedule.designation, schedule, remote: true, class: "#{search_active ? "" : active}", data: {num: schedule.designation} %>
      <% active = "" %>
    <% end %>
  </div>

  <!-- Display active schedule -->
  <div id="active-schedule">
    <%= fa_icon("spinner", class: "rotating") %>
  </div>
</div>

<!-- Display championship ranking -->
<%= render "competitions/display_championship_ranking", edition: @edition %>

<br>
