<h1>You got the Power on Macaboime</h1>

<ul> Options
  <li><%= link_to "Competitions", competitions_path %></li>
  <li><%= link_to "Seasons", seasons_path %></li>
  <li><%= link_to "Editions", editions_path %></li>
  <li><%= link_to "Teams", teams_path %></li>
  <li><%= link_to "Stadiums", "#" %></li>
  <li><%= link_to "Enter Results", enter_results_path %></li>

</ul>
