<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "logo_silhouette_mouv.png", width: "80px" %>
      <% end %>
      <%= link_to "Macaboime", root_path, class:"navbar-brand" %>
    </div>
    <div class="wordCarousel">
      <div>
        <!--        Use classes 2,3, or 4 to match the number of words -->
        <ul class="flip4">
          <li>Respect</li>
          <li>Fair Play</li>
          <li>Sportivité</li>
          <li>Convivialité</li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Game &#9917;</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="SeasonDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saisons
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="SeasonDropdownMenu">
              <% @seasons.each do |season| %>
                <li>
                  <%= link_to season.years, season_show_path(season), class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if current_user.present? && current_user.roles.present? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="AdminDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gestion
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="AdminDropdownMenu">

                <% if current_user.admin? || current_user.referee? %>
                  <%= content_tag :li do %>
                    <%= link_to "Saisie des résultats", enter_results_path, class: "dropdown-item" %>
                  <% end %>
                <% end %>

                <% if current_user.admin? || current_user.field_master? %>
                  <%= content_tag :li do %>
                    <%= link_to "Stats Stabilisés", stats_stabis_season_path(Season.last), class: "dropdown-item" %>
                  <% end %>
                <% end %>

                <% if current_user.admin? || current_user.publicator? %>
                  <%= content_tag :li do %>
                    <li><%= link_to "Publications", articles_path, class: "dropdown-item" %></li>
                  <% end %>
                <% end %>

                <hr>

                <% if current_user.admin? %>
                  <li><%= link_to "Competitions", competitions_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Seasons", seasons_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Editions", editions_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Teams", teams_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Stadiums", stadiums_path, class: "dropdown-item" %></li>
                  <hr>
                  <li><%= link_to "Gestion des rôles", user_roles_path, class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <%= image_tag "logo_silhouette_mouv.png", class: "m-5" %>
    </div>
  </div>
</nav>
